root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,js,mjs,cjs,svelte,css,html}]
indent_style = tab
indent_size = 2
tab_width = 2

[*.{json,yml,yaml,md,org}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
